.card__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card__img {
    width: 500px;
    margin-right: 20px;
}

.card__text {
    width: 300px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list__item {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.card__header {
    min-height: 100px;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
}